<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:context="http://www.springframework.org/schema/context"

    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
	
	<context:annotation-config/>
   <bean id="add1" class="org.springframework.beans.AadharCard" >
		<property name="aadharNo" value="345"/>
		<property name="name" value="Deepika Karanam"/>
		<property name="dob" value="29/01/2002"/>
		<property name="city" value="vzm"/>
			</bean>
	<bean id="citi3" class="org.springframework.beans.Citizen" >
		<property name="country" value="India"/>
		<property name="citizenName" value="Deepika Karanam"/>
		<property name="age" value="28"/>
	<!--  <property name="aadhar" ref="add1"/> -->
	</bean>
	</beans>